/*          CSS Variables        */
:root {
    --full-width: 100%;
    --fav-color: black;
    --w-white: #FCF6F5FF;
    --s-gap: 50%;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', 'sans-serif';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.view-port{
    width: 100%;
}

/*                Navigation Bar                */
.nav-container {
    min-width: var(--full-width);
    /* background: linear-gradient(rgb(245, 241, 243) 99%, rgb(53, 51, 53) 1%); */
    position: fixed;
    min-height: 90px;
    top: 0;
    left: 0;
}

.nav-bar {
    list-style: none;
    display: flex;
}


.nav-logo {
    margin: 0 15px;
    margin-top: 30px;
}

.nav-logo .fa, .search .fa {
    color: purple;
    cursor: pointer;
    font-size: 30px;
    width: 100%;
    text-align: center;
    transition: transform .7s ease-in-out;
}

.nav-logo .fa-search  {
    display: none;
}   

.nav-logo:nth-child(5) {
    position: absolute;
    top: 0;
    right: 0;
}

/*  Search bar  */
.search {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 75px;
}

.searchTerm {
    margin-top: 20px;
    font-size: 18px;
    outline: none;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid grey;
    letter-spacing: 1.5px;
    text-align: center;
    width: 80%;
    transition: width 1s ease-in-out;
}

.searchTerm:hover {

}

.searchButton {
    outline: none;
    margin-top: 20px;
    border-radius: 0 10px 10px 0;
    border: 1px solid grey;
    background-color: white;
    padding: 0 10px;
}


/*   Nav Elem Container       */

.nav-elem-container {
    /* background: linear-gradient(rgb(245, 241, 243) 99%, rgb(53, 51, 53) 1%); */
    height: 70px;
    min-width: 100%;
    position: fixed;
    top: 90px;
    z-index: 100;
}

.nav-elem-bar {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content:space-evenly;
}


.nav-elem {
    /*width: var(--s-gap);*/
    margin-top: 30px;
}


.nav-link {
    text-decoration: none;
    font-size: 17px;
    color: #8860D0;
}


.nav-link:hover {
    cursor: pointer;
    color: black;
    transition: color 0.5s ease-in;
}






/*          logo        */

.ham-menu {
    width: 100%;
    text-align: center;
}

.fa-bars:hover {
    transform: rotate(360deg);
}



/* Side Menu */
#main-side {
    z-index: 200;
    background: linear-gradient(rgb(245, 241, 243), rgb(204, 202, 202), rgb(245, 241, 243));
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    animation-name: cool-effect;
    animation-duration: 5s;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 10px;
    width: 85%;
    max-width: 500px;
    /*transition: transform .7s ease-in-out;*/
    transform: translateX(500px);
    overflow-y: scroll;
    overflow-x: hidden;
}

#side-content-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

#side-sub-content-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: translateX(-500px);
}

#main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

#main-menu:hover {
    background: lightgrey;
    cursor: pointer;
}
.back {
    text-align: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
}

.cross-menu {
    color: rgb(57, 53, 53);
    font-size: 40px;
    cursor: pointer;
}

.top-side {
    border-top-left-radius: 20px;
    background: linear-gradient(#c26afc, #ba74e8, #b261e8, #ba74e8, #c26afc);
    width: 100%;
    height: 200px;
    display: flex;
}

.profile-container{
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-content {
    min-width: 100%;
    text-align: center;
}

.profile-pic {
    object-fit: cover;
    height: 150px;
    border-radius: 50%;
}

.profile-name {
    width: 100%;

}

.account-info {

    text-align: center;
    list-style: none;
    font-size: 18px;
    color: #e0dce3;
}

.side-content-header {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.side-content {
    padding: 10px;
}
.side-content:hover {
    background-color: lightcyan;
}

hr {
    margin-bottom: 10px;
}

.side-new-content {
    display: flex;
    justify-content: space-between;
}

.side-new-content:hover {
    background-color: lightcyan;    
}

.side-link {
    width: 100%;
    padding: 10px;
}

.fa-hand-o-right {
    padding: 0;
    margin: 0;
    text-align: right;
}
.fa-hand-o-left {
    padding: 0;
    margin: 0;
    text-align: left;
    width: 60%;
}


/* Main Content */

.slideshow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
    width: 100%;
}

.left-arrow {
    display: flex;
    align-items: center;
    padding: 0 15px;
}


.right-arrow {
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.home-content {
    flex-basis: 30%;
    min-width: 180px;
}

.home-content h1{
    font-size: 50px;
}

.home-content p {
    font-size: 20px;
}

.slides {
    max-width: 100%;
}

.offer-btn {
    display: inline-block;
    background-color: orange;
    padding: 20px;
    border-radius: 30px;
    margin: 15px 0;
    font-size: 15px;
    z-index: 1;
}

.offer-btn:hover {
    background-color: cyan;
    transition: background-color 0.7s ease
}

/* Category */

.category-container {
    margin: 100px 50px;
    text-align: center;
}

.shop-container {
    margin: 200px 50px;
    /* background: lightyellow; */
    text-align: center;
}


.category-content {
    margin: 0 auto;
    /*background: linear-gradient( rgb(255, 255, 255), rgb(241, 214, 233)); */
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.category-container h2 {
    font-size: 30px;
    margin-bottom: 50px;
}

.col-3 {
    flex-basis: 30%;
    margin: 10px 10px;
    /* background: linear-gradient(lightgrey, white, lightgrey); */
}

.col-3 img {
    width: 65%;
    min-width: 200px;
}

.col-4 {
    flex-basis: 25%;
}

.col-4 img {
    width: 70%;
    min-width: 200px;
}

.col-4 img:hover {
    transform: scale(1.1);
}

.col-4 h4 {
    font-size: 20px;
}

.col-4 p {
    font-size: 15px;
}

.col-6 {
    flex-basis: 30%;
    margin-bottom: 50px;
}

.col-6 img {
    width: 70%;
    min-width: 200px;
}

.col-6 img:hover {
    transform: scale(1.1);
}

/* Product Slider */

.slider-box {
}

.product-container {

}

.product-container img{
    width: 100%;   
}

.product-details {
    text-align: center;
}

.product-details h4 {
    font-size: 20px;
}

.product-details p {
    font-size: 15px;
}

.product-function-container {
    display: flex;
    width: 100%;
    padding-bottom: 30px;
}

.product-function {
    flex-basis: 50%;
    margin: 0 5px;
    
}

.product-function button {
    width: 100%;
    padding: 15px 0;
    outline: none;
    border: none;
    cursor: pointer;
}



/*  Footer  */

.footer-search {
    text-align: center;
    margin-bottom: 20px;
}

.special-buttons {
    display: flex;
}

.special-buttons button {
    flex-basis: 34%;
    padding: 10px 0;
    outline: none;
    border: none;
    transition: all 0.5s ease-in;
    cursor: pointer;
    border-top: 1px solid black;
    font-size: 25px;
}

.special-buttons button:hover {
    padding-right: 10px;
}

.footer-searchTerm {
    width: 50%;
    text-align: center;
    height: 40px;
    font-size: 15px;
    border-radius: 15px;
    outline: none;
    border: none;

}

.footer-container {
    /*background-color: lightgrey;*/
    margin: 0 auto;
    text-align: center;
    padding: 0 0 20px 0;
}

.footer-content {
}

.footer-content p {
    font-size: 15px;
}


.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    flex-basis: 25%;
    margin: 25px 0;
}

.footer-col ul li {
    list-style-type: none;
    line-height: 30px;
}

.footer-col ul li:hover {
}

.footer-col ul li a{
    font-size: 18px;
    transition: all 0.5s ease;
}

.footer-col ul li a:hover{
    color: red;
    padding-left: 20px;
}

.footer-col h3{
    font-size: 20px;
    padding-bottom: 15px;
}

.footer-col h3::after{
    content: "";
    display: block;
    border: 1px solid black;
    width: 30%;
    margin: 0 auto;
    margin-top: 10px;
}

.fa-facebook, .fa-twitter, .fa-instagram, .fa-youtube, .fa-github{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: orange;
    padding-top: 12px;
    transition: all 0.3s ease-in-out;
    font-size: 25px;
}

.social-media a:hover {
    opacity: 0.7;
}


/* Nav Responsive Screen */
@media only screen and (max-width: 1100px) {
    .nav-elem-container {
        display: none;
    }
}

/* Search responsive */
@media only screen and (max-width: 800px) {
    .nav-logo .fa-search {
        display: block;
    }
    .search{
        display: none;
    }
}

/* Swiper Responsive */
@media only screen and (max-width: 750px) {
    .product-container img{
        width: 75%;   
    }
}

/* Col div responsive */
@media only screen and (max-width: 1116px) {
    .col-4 {
        flex-basis: 50%;
    }
    .col-4 img {
        width: 50%;
    }
}
@media only screen and (max-width: 911px) {
    .col-3 {
        flex-basis: 100%;
    }
    .col-3 img {
        width: 30%;
    }

}
@media only screen and (max-width: 945px) {
    .col-6 {
        flex-basis: 50%;
    }
    .col-6 img {
        width: 50%;
    }

}
@media only screen and (max-width: 620px) {
    .col-6 {
        flex-basis: 100%;
    }
}

/* Footer responsive */

@media only screen and (max-width: 1100px) {
    .footer-col {
        flex-basis: 50%;
        margin: 50px 0;
    }
}
@media only screen and (max-width: 537px) {
    .footer-col {
        flex-basis: 100%;
        margin: 25px 0;
    }

}