/*          CSS Variables        */
:root {
    --full-width: 100%;
    --fav-color: black;
    --w-white: #FCF6F5FF;
    --s-gap: 50%;
}

html, body{
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    scroll-padding-top: 7.5rem;
    scroll-behavior: smooth;
    font-family: 'Poppins', 'sans-serif';
}

html::webkit-scrollbar-track {
    background: var(--w-white);
}

html::webkit-scrollbar-thumb {
    background: var(--w-white);
    border-radius: 5rem;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.view-port{
    width: 100%;
}

/*                Navigation Bar                */
.nav-container {
    min-width: var(--full-width);
    /* background: linear-gradient(rgb(245, 241, 243) 99%, rgb(53, 51, 53) 1%); */
    position: fixed;
    min-height: 90px;
    top: 0;
    left: 0;
}


.nav-bar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.nav-logo {
    margin: 0 10px;
    min-height: 100%;
    margin-top: 30px;
}

.nav-logo:nth-child(3) {
    text-align: right;
}




/*   Nav Elem Container       */

.nav-elem-container {
    /* background: linear-gradient(rgb(245, 241, 243) 99%, rgb(53, 51, 53) 1%); */
    height: 70px;
    min-width: 100%;
    position: fixed;
    top: 90px;
}

.nav-elem-bar {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}


.nav-elem {
    /*width: var(--s-gap);*/
    min-height: 100%;
    width: 10%;
    margin-top: 30px;
}


.nav-link {
    text-decoration: none;
    font-size: 17px;
    color: #8860D0;
    min-height: 100%;
    min-width: 100%;
}


.nav-link:hover {
    cursor: pointer;
    color: black;
    transition: color 0.5s ease-in;
}




/*  Search bar  */
.search {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 75px;
}

.searchTerm {
    font-size: 18px;
    outline: none;
    margin-top: 25px;
    border-radius: 10px 0 0 10px;
    border: 1px solid grey;
    letter-spacing: 1.5px;
    text-align: center;
    width: 40%;
    transition: width 1s ease-in-out;
}

.searchTerm:hover {
    width: 80%;
}

.searchButton {
    outline: none;
    margin-top: 25px;
    border-radius: 0 10px 10px 0;
    border: 1px solid grey;
    background-color: white;
}



/*          logo        */

.ham-menu {
    width: 100%;
    text-align: center;
}

.fa-bars:hover {
    transform: rotate(360deg);
}

/* Style Icon  */
.fa {
    color: purple;
    cursor: pointer;
    font-size: 30px;
    width: 100%;
    text-align: center;
    transition: transform .7s ease-in-out;
}


/* Side Menu */
#main-side {
    z-index: 200;
    background: linear-gradient(rgb(245, 241, 243), rgb(204, 202, 202), rgb(245, 241, 243));
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    animation-name: cool-effect;
    animation-duration: 5s;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 10px;
    width: 90%;
    max-width: 500px;
    transition: transform .7s ease-in-out;
    transform: translateX(500px);
    overflow-y: scroll;
}

#side-content-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

#side-sub-content-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: translateX(-500px);
}

#main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

#main-menu:hover {
    background: lightgrey;
    cursor: pointer;
}
.back {
    text-align: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
}



.cross-menu {
    color: rgb(57, 53, 53);
    font-size: 40px;
    cursor: pointer;
}

.top-side {
    border-top-left-radius: 20px;
    background: linear-gradient(#c26afc, #ba74e8, #b261e8, #ba74e8, #c26afc);
    width: 100%;
    height: 200px;
    display: flex;

}

.profile-container{
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-content {
    min-width: 100%;
    text-align: center;
}

.profile-pic {
    object-fit: cover;
    height: 150px;
    border-radius: 50%;
}

.profile-name {
    width: 100%;

}

.account-info {

    text-align: center;
    list-style: none;
    font-size: 18px;
    color: #e0dce3;
}

.side-content-header {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.side-content {
    padding: 10px;
}
.side-content:hover {
    background-color: lightcyan;
}

hr {
    margin-bottom: 10px;
}

.side-new-content {
    display: flex;
    justify-content: space-between;
}

.side-new-content:hover {
    background-color: lightcyan;    
}

.side-link {
    width: 100%;
    padding: 10px;
}

.fa-hand-o-right {
    padding: 0;
    margin: 0;
    text-align: right;
}
.fa-hand-o-left {
    padding: 0;
    margin: 0;
    text-align: left;
    width: 60%;
}


/* Main Content */

.home-container {
    width: 100%;
    display: flex;
    margin-top: 155px;
    /* background: lavenderblush; */
}

.slideshow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
    width: 100%;
}

.left-arrow {
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.left-arrow .fa-hand-o-left {

}

.right-arrow {
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.right-arrow .fa-hand-o-right {
}

.home-content {
    flex-basis: 30%;
    min-width: 180px;
}

.home-content h1{
    font-size: 50px;
}

.home-content p {
    font-size: 20px;
}

.slides {
    max-width: 100%;
}

.offer-btn {
    display: inline-block;
    background-color: orange;
    padding: 20px;
    border-radius: 30px;
    margin: 15px 0;
    font-size: 15px;
    z-index: 1;
}

.offer-btn:hover {
    background-color: cyan;
    transition: background-color 0.7s ease
}

/* Category */

.category-container {
    margin: 100px 50px;
    text-align: center;
}

.shop-container {
    margin: 200px 50px;
    /* background: lightyellow; */
    text-align: center;
}


.category-content {
    margin: 0 auto;
    /*background: linear-gradient( rgb(255, 255, 255), rgb(241, 214, 233)); */
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.category-container h2 {
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin: 10px 10px;
    /* background: linear-gradient(lightgrey, white, lightgrey); */
}

.col-3 img {
    width: 50%;
}

.col-4 {
    flex-basis: 25%;
    min-width: 250px;

}

.col-4 img {
    width: 70%;
}

.col-6 {
    flex-basis: 30%;
    min-width: 200px;
}

.col-6 img {
    width: 70%;
}

/* Product Slider */

.slider-box {
    max-height: 400px;
    margin: 50px;
}

.product-container img{
    width: 100%;   
}


.product-details {
    text-align: center;
}

.product-name {
    
}

.product-price {

}

.product-function-container {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.product-function {
    flex-basis: 50%;
}

.product-function button {
    width: 100%;
    padding: 15px 0;
    outline: none;
    border: none;
}



/*  Footer  */

.footer-search {
    text-align: center;
    margin-bottom: 20px;
}

.footer-button {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.footer-button button {
    flex-basis: 10%;
    padding: 10px 0;
    margin: 10px 30px;
    min-width: 80px;
    outline: none;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    font-style: italic;
    text-shadow: 1px 1px lightcyan;
    transition: background-color 0.5s ease-in;
    cursor: pointer;
}

.footer-button button:hover {
    background-color: orange;

}

.footer-container {
    /*background-color: lightgrey;*/
    padding: 30px 0 0 100px;
    overflow: scroll;

}

.footer-searchTerm {
    width: 50%;
    text-align: center;
    height: 40px;
    font-size: 15px;
    border-radius: 15px;
    outline: none;
    border: none;

}

.footer-content {
    width: 100%;
}

.footer-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-col-1, .footer-col-2, .footer-col-3 {
    min-width: 140px;
    flex-basis: 20%;
    text-align: center;
}

.footer-col-1 ul, .footer-col-2 ul, .footer-col-3 ul {
    margin: 30px 0;
}

.footer-col-1 ul li, .footer-col-2 ul li, .footer-col-3 ul li{
    list-style: none;
    padding: 0 0 20px 0;
}

/* Response Screen */
@media only screen and (max-width: 1300px) {
    .nav-link {
        display: none;
    }
}
